<?xml version="1.0"?>
<configuration>

    <system.web>
        <customErrors mode="Off"/>
    </system.web>

    <system.webServer>
        <urlCompression doDynamicCompression="true" doStaticCompression="true"/>

        <staticContent>
            <!--<clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge" cacheControlCustom="public" />-->

            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/json" />

            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <remove name="x-powered-by"/>
                <add name="Content-Security-Policy" value="object-src 'none';"/>
                <add name="Arr-Disable-Session-Affinity" value="True"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>